<div>

  <div nz-row *ngIf="">
    <div nz-col nzSpan="3">
      <i nz-icon type="info-circle" theme="outline"></i>
    </div>
    <div nz-col nzSpan="8">
      <h2>{{ title }}</h2>
    </div>
  </div>

  <div nz-row *ngIf="">
    <i nz-icon type="info-circle" theme="outline"></i><h2>{{ title }}</h2>
  </div>
  <div nz-row *ngIf="">
    <i nz-icon type="info-circle" theme="outline"></i><h2>{{ title }}</h2>
  </div>
  <div nz-row *ngIf="">
    <i nz-icon type="info-circle" theme="outline"></i><h2>{{ title }}</h2>
  </div>

  <div nz-row>
    <h4>{{ content }}</h4>
  </div>

</div>
