<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <div nz-row class="row_line">
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group [nzPrefix]="prefixLock">
          <input formControlName="oldPass" nz-input type="password" placeholder="旧密码">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('oldPass').dirty && validateForm.get('oldPass').hasError('required')">
          请输入你的旧密码
        </nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('oldPass').dirty && validateForm.get('oldPass').hasError('minlength')">
          密码长度必须要至少8位
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row class="row_line">
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group [nzPrefix]="prefixLock">
          <input formControlName="newPass" nz-input type="password" placeholder="新密码">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('newPass').dirty && validateForm.get('newPass').hasError('required')">
          请输入你的新密码
        </nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('newPass').dirty && validateForm.get('newPass').hasError('minlength')">
          密码长度必须要至少8位
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row class="row_line">
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group [nzPrefix]="prefixLock">
          <input formControlName="confirmPass" nz-input type="password" placeholder="确认密码">
        </nz-input-group>
        <nz-form-explain
          *ngIf="validateForm.get('confirmPass').dirty && validateForm.get('confirmPass').hasError('required')">
          请输入你的确认密码
        </nz-form-explain>
        <nz-form-explain
          *ngIf="validateForm.get('confirmPass').dirty && validateForm.get('confirmPass').hasError('minlength')">
          密码长度必须要至少8位
        </nz-form-explain>
        <nz-form-explain *ngIf="validateForm.errors?.notsame && !validateForm.get('confirmPass').hasError('minlength') && !validateForm.get('confirmPass').hasError('required')">
          <span style="color: #f7545c;">新密码和确认密码不一致</span>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row class="row_line">
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-reset" [nzType]="'primary'" (click)="validateForm.reset()">重置</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">修改</button>
      </nz-form-control>
    </nz-form-item>
  </div>

</form>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
